.button_type_add {
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  background: no-repeat center url(../../../images/icon-plus.svg)
}

@media (max-width: 830px) {
  .button_type_add {
    width: 100%;
    max-width: 282px;
  }
}