.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 830px) {
  .profile {
    flex-direction: column;
    margin-bottom: 37px;
  }
}