.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: no-repeat center url('/images/icon-close.svg');
  background-size: contain;
}

@media (max-width: 580px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -40px;
  }
}