.popup__title_image {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0;
  color: #fff;
}

@media all and (max-width: 550px) {
  .popup__title_image {
    text-align: left;
    padding: 0;
  }
}
