.popup__container {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px;
  position: relative;
  color: #000;
  width: 430px;
  min-height: 330px;
  box-sizing: border-box;
}

@media (max-width: 580px) {
  .popup__container {
    width: calc(100% - 38px);
    padding: 25px 22px;
  }
}