.button_type_remove {
  width: 18px;
  height: 19px;
  background: no-repeat center url('../../../images/icon-trash.svg');
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
}