.card {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding-top:128.37%;
}
.card::before {
  display: block;
  content: "";
  width: 100%;
}

.card__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}