.form__input {
 border: 0;
 outline: none;
 padding-bottom: 9px;
 border-bottom: 1px solid rgba(0, 0, 0, .2);
 color: #000;
 font-size: 14px;
 line-height: 17px;
 position: relative;
 width: 100%;
}


.form__input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.form__input::placeholder {
  color: #C4C4C4;
}